DATABASE_URL="postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>?schema=public"
NGROK_PORT=<NGROK_PORT>
NGROK_AUTHTOKEN="<YOUR_NGROK_AUTHTOKEN>"
LOCAL_PORT=<LOCAL_PORT>
GOLD_PRICE_URL="<GOLD_PRICE_SERVICE_URL>"
